@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
    body{
        font-family:"Segoe UI", "Noto Sans KR", sans-serif !important;
    }
    header{
        font-size: 40px;
    }
    footer{
        font-size:10px;
    }