@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
    body{
        font-family:"Segoe UI", "Noto Sans KR", sans-serif !important;
    }
    header{
        font-size: 40px;
    }
    footer{
        font-size:10px;
    }


nav{
    $carousel-width: 100px;
    $carousel-height: 50px;
    
      position: relative;
      width: $carousel-width;
      height: $carousel-height;
    
    #carousel {
      display: flex;
      width: 10000px;
      position: relative;
      transform: translateX(0px);
      .slide {
        height: $carousel-height;
        width: $carousel-width;
        cursor: pointer;
        float: left;
        flex-direction: column;
        justify-content: center;
        a{
          text-decoration:none;
          color: black;
          width:auto;
          margin: auto;
        }
      }
    }
    .transition {
      transition: .7s;
    }
}

.pagination a, .pagination span {
  padding: 7px 18px;
  border: 1px solid #eee;
  margin-left: -2px;
  margin-right: -2px;
  background-color: #ffffff;
  display: inline-block;
}

.pagination a {    
  &:hover {
      background-color: #f1f1f1;
      color: #333;
  }
}

.pagination {
  text-align: center;
}