---
title: Home
layout: default
---
<div class='home'>
<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
<a href="{{ post.url }}"> 
  <div class='post'>
    <h2>{{ post.title }}</h2>
    <div class='dc'>
    <div class="content">
      {{ post.excerpt | strip_html | strip_newlines | truncatewords: 45 }}
    </div>
    <div class="date">{{ post.date | date: '%F'}}<br>{{ post.date | date: '%Z'}}</div>
  </div>
  </div></a>
{% endfor %}

{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}"><img src="/assets/icons/left arrow.svg" alt="Preview"></a>
  {% else %}
  
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <div class='underline'>{{ page }}</div>
    {% elsif page == 1 %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}"> <img src="/assets/icons/right arrow.svg" alt="Next"></a>
  {% else %}
    
  {% endif %}
</div>
{% endif %}
</div>